<br>
<% if user_signed_in? %>
	<div class="list-group">
		<span class="list-group-item active">
			<h4><b>Categories</b></h4>
		</span>
		<% Degre.all.each do |degre| %>
		<span class="list-group-item">
		<span class="badge">04</span>
			<%= degre.name_with_type %>
		</span>
		<% end %>
	</div>
<% end %>
