
<h2>About Me</h2>
<div style="float:left; padding-right: 10px;"><%= image_tag("DSC_0077_001.jpg", size: "140x120", class: "DSC_0077_001") %></div>
<p>Ghazi Khna Gola is social worker and honest with assigned tasks as well is so far involved in social activities, Pakapply was my dream which become true with my MCS program and my aim to give chance of better future to my society fallows. My hoby is developing web and create new ideas for my socitey develompent. Me and my team is available for your convieneince every time we to gether produced this useful web to get apportunities to people to be a good charecter in society. Tomorrow is our destiny, we will achieve our goal as we started this useful deed for our nation.
we always keep you updated with latest NEWs. I always tried to better work and make my activity more better with my
beloved team. <br><br><br>

<b>Follow me by:</b></p>


     
<p>
   <a href = "https://www.facebook.com/pakjobposting" class = "btn btn-primary btn-lg" role = "button">
      Facebook
   </a>:::


        
   <a href = "https://twitter.com/?lang=en" class = "btn btn-primary btn-lg" role = "button">
      Twitter
   </a>:::


   <a href = "https://plus.google.com/u/0/108681172820250920941/posts" class = "btn btn-primary btn-lg" role = "button">
      Google Plus
   </a>



