<p>
Dear <b> <%= @message.name %> </b>
</p>
<br>
<p>
Thank you very much for your contact with us. Your request for asking question has been submitted and you will receive an email very soon with a suitable reply...
</p>
<hr>
